body{
    background-color: rosybrown;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

main{
    margin: 0 auto;
    width: 400px;
    display:flex;
    flex-direction: column;
}


img{
    border: 5px solid pink;
    width: 100%;
    background: #000;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}