header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.social img{
    border-radius: 50%;
}

.logo img{
    width: 60vw;
}

#hamburgerBtn {
    font-size: 1.5rem;
	border: 1px solid #E05858;
	padding: 5px 9px 6px;
	background-color: #E05858;
	color: white;
    position: absolute;
	top:1rem;
    right:0.5rem;
    border-radius: 50%;
}

#hamburgerBtn::before{
    content: "☰"
}

#hamburgerBtn.open::before {
	content: "X";
}

nav{
    background-color: white;
   margin: 0 auto;
   display: none;

}

nav a:hover{
    background-color: #E05858;
    color: #fff;
}

nav ul{
    list-style-type: none;
}

nav a{
    display: block;
    text-decoration: none;
    color: #1A405F;
    text-align: center;
    padding: 10px;
    font-size: large;
    
}

nav.open{
    display: block;
}

#hero{
    position: relative;
}

#hero-box {
    overflow: hidden; /* Evita que el contenido flote fuera del contenedor */

}
#hero-box img{
    width: 100%;
    opacity: 0.9;
    height: 100%;
}

#hero-msg{
    background-color: #1A405F;
    position: absolute;
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translate(-50%, -50%);
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Cambia el color del texto según tu diseño */
    opacity: 0.7;
    padding: 5px;
}
.join {
    background-color: #FFB745;
    font-size: x-large;
    text-decoration: none;
    color: black;
    padding: 1px;
    opacity: 1;
}
.rectangle{
    text-align: center;
    border:2px solid rgb(242, 168, 168);
    background-color: white
    
}

.rectangle h2{
    color: #1A405F;
}

section{
    width: 100%;
    
    background-color: white;
}

section .events{
    height: 100px;
}

section .weather{
    height: 300px;

}

#divWeather{
    margin-bottom: 20px;
}

#forecastTable {
    grid-row: 2;
    grid-column: 1;
    margin: auto auto;
    border: thin solid rgba(0,0,0,0.5);
    box-shadow: 0 0 10px hsl(0,0%,50%);
    border-collapse: collapse;
    max-height: 200px;
}
#forecastTable caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    /* color: hsla(150,50%,30%,1); */
    font-size: .85rem;
}
#forecastTable thead tr:first-child {
    background-color: #1A405F;
    color:white;
}
#forecastTable th,#forecastTable td {
    padding: 7px 15px;
    border: 1px solid hsla(0,0%,33%,0.3);
}
#forecastTable thead tr:nth-child(2) {
    background-color:  #ccc;
    font-size: larger;
}
#forecastTable td {
    text-align: center;
}
#forecastTable tbody tr:nth-child(odd) {
    background-color: hsl(0,0%,93%,1);
}
#forecastTable tbody tr:nth-child(even) {
    background-color: hsl(0,50%,93%,1);
}


#spot-h2{
    text-align: center;
    color: #1A405F;
    margin-top: 50px;
}

#spotlights{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.spotlight{
    border-radius: 50%;
    border:2px solid #1A405F;
    padding: 7px 5px 6px;
    text-align: center;
    width: 150px;

}
footer{
    background-color: #1A405F;
    color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size:medium;
}

#msg1{
    grid-column: 1/2;
}

#msg2{
    grid-column: 2/3;
}

#personal{
    grid-column: 1/3;
}







.tabla1{
    margin-top: 1em;
  }
  
  .tabla1 th, .tabla1 td{
    text-align: center;
    padding: .2em .5em;
   
  }
  
  .tabla1 caption{
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    margin-bottom: .5em;
  }
  
  .tabla1 tr{
    border-bottom: 1px solid black;
  }
  
#calendario{
    display: flex;
    margin: 20px;
    justify-content: center;
    border: 3px solid #E05858;
    border-radius: 30%;
    padding: 50px;
    
}



#images{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .section-msg-1{
    margin: 5px;
    padding: 20px;
    border: 2px solid #1A405F;
    font-size: medium;

  }

  .section-msg-1 h2{
    color: #1A405F;
    
  }

  #sidebar{
    background-color: #FFB745;
    padding: 50px;
    border-radius: 30%;
    margin: 40px;
    text-align: center;
    font-size: large;
}

 
  
#discover-h1{
    font-size: 2rem;
    grid-column: 1/2;
    margin: 20px;
    text-align: center;
    color: #333;
    font-family: 'Brygada 1918', serif;
}




:root {
    --form-background: #e6e6e6;
    --form-padding: 20px;
    --label-color: #333;
    --input-background: #fff;
    --input-border: 1px solid #ccc;
    --input-padding: 8px;
    --button-background: #E05858;
    --button-color: #fff;
    --button-padding: 10px;
}

#form {
    font-family: 'Brygada 1918', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
   
}


form {
    background-color: var(--form-background);
    padding: var(--form-padding);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
form div {
    margin-bottom: 16px;
}

label {
    display: block;
    color: var(--label-color);
    margin-bottom: 8px;
}

input,
#btnJoin-1 {
    width: 100%;
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
}

#btnJoin-1 {
    background-color: var(--button-background);
    color: var(--button-color);
    padding: var(--button-padding);
    cursor: pointer;
}

#description{
    width: 280px;

}

#btnJoin-1:hover {
    background-color: #FFB745;
}

#tableInformation{
    display: none;
}


#informationMembership{
    display: block;
    grid-column: 2/3;
    padding: 20px;
}
.membership {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }

  #mainThankyou{

    display: flex;
    justify-content: center;
    background-color: #ccc;
    
  }

  #thankyou{
    max-width: 400px;
    border: 3px solid #1A405F;
    font-family: 'Brygada 1918', serif;
    margin: 30px;
    padding: 30px;
    background-color: white;
    
    
  }

  #thankyou p::first-letter{
    color: #E05858;
    font-size: 2rem;
  }
/* directory members */
.grid div section {
    display: block;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid grey;
    margin-bottom: 50px;
    padding-bottom: 5px;
}
.grid div section img {
    width: 100px;
}
.grid div section a {
    color: blue;
}

.list div section{
    display: flex;
    flex-direction: column;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    margin-bottom: 10px;
    background-color: white;
}
.list div section:nth-child(even) {
    background-color: rgb(87, 87, 146);
}
.nameCompany {
    display: none;
}