
@media screen and (min-width: 500px){

    header{

        justify-content: space-around;

    }

    .logo img{
    width: 30vw;
    }

    #hamburgerBtn {
        display: none;
    }

    nav{
        display: block;
    }
    
    nav ul{
        display: flex;
    }

    nav ul li{
      flex: auto;
    }

    main{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 1fr;
    }

    #hero{
        grid-column: 1/2;
        grid-row: 1/3;
    }

    section .events{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    section .weather{
        grid-column: 2/3;
        grid-row: 2/3;

    }

    section{
        width: 200px;
    }

    .spot{
        grid-column: 1/3;
    }

}