@media screen and (min-width: 500px){
    nav ul{
        display: flex;
    }

    nav ul li{
      flex: auto;
    }

    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 90%;
    }

    h2{
        grid-column: 1/3;
    }
}